QGroupBox {
    background-color: #E0E0E0;
    border: 1px solid #66666660;
    border-radius: 6px;
}

QLabel, QFormLayout, QPushButton, QLineEdit {
    font-size: 17px; 
    color: #333; 
    font-family: "IPAex Mincho";
}

QLineEdit{
    font-weight: bold;
}

QLabel.title{
    font-size: 21px; 
    font-weight: bold; 
    color: #333; 
}