QGroupBox {
    background-color: #E0E0E0;
    border: 1px solid #66666660;
    border-radius: 6px;
}

QLineEdit{
    font-size: 23px; 
    color: #333; 
    font-family: "IPAex Mincho";
}

QCombobox{
    font-size: 20px; 
    color: #333; 
    font-family: "IPAex Mincho";
}

QLabel.title{
    font-size: 25px; 
    font-weight: bold; 
    color: #333;
    padding-bottom: 5px;
    padding-top: 0px;
    padding-left: 0px;
}

QLabel.attributes, QPushButton{
    font-size: 20px; 
    color: #333;
    padding-bottom: 2px;
}
