QTableView {
    font-family: "IPAex Mincho";
    font-size: 17pt;
    background-color: #FAFAFA;
    border-radius: 6px; 
    border: 1px solid #CCC; 
}

QTableView::item {
    padding: 5px;
}


QHeaderView::section:horizontal {
    background-color: #E0E0E0;
    font-size: 12pt; 
    font-weight: bold;
    padding: 5px;
    border: 1px solid #CCCCCC;
}


QHeaderView::section:vertical {
    background-color: #E0E0E0;
    font-size: 17pt; 
    font-weight: bold;
    border: 1px solid #CCCCCC;
}

QTableCornerButton::section {
    background-color: #FAFAFA; 
    border: 1px solid #CCCCCC; 
}
